.task-button {
    cursor: pointer;
    margin-top: 12px;
}

.button-holder {
    width: auto;
}

.container {
    padding-bottom: 10px;
    max-width: 500px;
}

.tasks {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    margin-left: 50px;
}

.priority {
    background-color: red;
}

.groceries {
    font-size: 20px;
}

.wanted {
    font-size: 14px;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.right-buttons {
    width: auto;
}

.center {
    padding-right: 2px;
    padding-left: 2px;
}